/*
Syntax error: Invalid CSS after "center": expected expression (e.g. 1px, bold), was ";"
        on line 2 of public/stylesheets/application.sass

1: body {
2:   text-align: center;
3:   font-family: Helvetica, Arial, sans-serif;
4:   font-size: 12pt;
5: }
6: 
7: h1 {

Backtrace:
public/stylesheets/application.sass:2
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/scss/parser.rb:1145:in `expected'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/script/lexer.rb:199:in `expected!'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/script/parser.rb:486:in `assert_done'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/script/parser.rb:50:in `parse'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/script/parser.rb:166:in `parse'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/script.rb:31:in `parse'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:880:in `parse_script'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:608:in `parse_property'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:597:in `parse_property_or_rule'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:578:in `parse_line'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:471:in `build_tree'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:490:in `block in append_children'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:489:in `each'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:489:in `append_children'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:480:in `block in build_tree'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:473:in `each'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:473:in `build_tree'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:490:in `block in append_children'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:489:in `each'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:489:in `append_children'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:345:in `_to_tree'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `each'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/plugin.rb:107:in `method_missing'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/exec.rb:455:in `watch_or_update'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/exec.rb:318:in `process_result'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/exec.rb:41:in `parse'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/exec.rb:21:in `parse!'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/bin/sass:9:in `<top (required)>'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/bin/sass:23:in `load'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/bin/sass:23:in `<main>'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/bin/ruby_noexec_wrapper:14:in `eval'
/Users/jamesjoshuahill/.rvm/gems/ruby-2.0.0-p247/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"center\": expected expression (e.g. 1px, bold), was \";\"\A         on line 2 of public/stylesheets/application.sass\A \A 1: body {\A 2:   text-align: center;\A 3:   font-family: Helvetica, Arial, sans-serif;\A 4:   font-size: 12pt;\A 5: }\A 6: \A 7: h1 {"; }
