<html>
<head>
  <title>Sudoku Game</title>   
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Life is too short for playing Sudoku</h1>
<div id="sudoku">
<form action="/" method="post">
<!-- one div for each row -->
<% 3.times do |row| %>
  <div class='row'>
  <!-- we want to create separate div elements for boxes to style them using CSS -->
  <% 3.times do |box| %>
    <div class="box">
    <!-- each box will have nine cells -->
    <% 3.times do |cell_row| %>
      <div class="cell-row">
      <% 3.times do |cell| %>
        <%= partial :cell, :locals => { :cell_index => row * 27 + box * 9 + cell_row * 3 + cell } %>
      <% end %>
      </div>
    <% end %>
    </div>
  <% end %>
  </div>
<% end %>
  <button>Check solution</button>
</form>
</div>
</body>
</html>