body {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

h1 {
  margin: 0.5em 0 0.25em 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.6em;
  font-size: 3em;
}

#difficulty {
  line-height: 2em;
}

#flash {
  border-radius: 10px;
  line-height: 2em;
  vertical-align: center;
  width: 22em;
  margin: 0 auto 1em;
  font-size: 1em;
  background: rgb(255, 232, 112);
}

#sudoku {
  font-size: 0;
  text-align: center;
}

#options {
  margin-top: 2em;
}

#options a {
  display: inline-block;
  padding: 0.5em 0.7em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
  border-radius: 10px;
  background-color: white;
  border: 3px solid deepskyblue;
  text-decoration: none;
  color: black;
  margin: 0 0.25em;
}

#options a:hover {
  background-color: deepskyblue;
}

#footer {
  margin-top: 2em;
  font-size: 10pt;
  line-height: 1.4em;
}

div.box, div.cell {
  display: inline-block;
}

div.box {
  outline: 3px solid dimgray;
}

.cell input {
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  font-size: 12pt;
  font-family: Helvetica, Arial, sans-serif;
  border: none;
  outline: 1px solid dimgray;
}

button {
  padding: 0.5em 0.7em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
  margin: 2em 0.5em 0;
  border-radius: 10px;
}

.incorrect {
  background-color: deepskyblue;
}

.blue_notice {
  background-color: deepskyblue;
  padding: 0.1em 0.4em;
  border-radius: 5px;
}

.value-provided {
  background-color: rgb(255, 232, 112);
}