body {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

#sudoku {
  font-size: 0;
  text-align: center;
}

div.box, div.cell {
  display: inline-block;
}

.cell input {
  width: 30px;
  height: 30px;
  text-align: center;
}

.incorrect {
  background-color: yellow;
}

.value-provided {
  background-color: #DDD;
}